# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Binaries & Tunnels
cloudflared.exe
*.exe

# Environments
env/
venv/
.venv/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
